﻿@import "site.mixins.less";


.s-Dokumen-CertificatesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Dokumen-DocumentsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Dokumen-DocumenttypesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Dokumen-SignaturesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}