﻿@import "site.mixins.less";


.s-Organisasi-InstitutionsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Organisasi-OfficialsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Organisasi-PositionsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}