﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Territory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new tangkaspbb.Northwind.TerritoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>