﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Dokumen.Documents.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new tangkaspbb.Dokumen.DocumentsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>