﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Organisasi.Institutions.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new tangkaspbb.Organisasi.InstitutionsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>