﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Dokumen.Documenttypes.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new tangkaspbb.Dokumen.DocumenttypesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>